@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@600&family=Bebas+Neue&family=Yusei+Magic&display=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap");
body {
  overflow-x: hidden;
}

.card {
  cursor: pointer !important;
}

h1,
h3,
h2,
h4,
h5,
h6 {
  color: #363958;
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 70px;
}

p,
button,
a,
li {
  font-family: "Roboto", sans-serif;
  color: dimgray;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

.rotate-img img {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.rotate-img img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section-title > h2 {
  font-family: "Bebas Neue", cursive;
  padding: 20px;
  text-align: center;
}

#header .navbar #navbarNav .nav-item {
  color: black;
  font-weight: 600;
}

#header .navbar #navbarNav .nav-item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#022d8a), to(#0354a5));
  background: linear-gradient(#022d8a, #0354a5);
  color: white;
  border-radius: 5px;
}

#header .navbar #navbarNav .nav-item:hover .nav-link {
  color: white;
}

#header #header-banner .second-col h1 {
  font-family: "Bebas Neue", cursive;
  line-height: 57px;
}

#casuel-shoes {
  background: #f1eae1;
}

.shoes-card {
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: white;
}

.shoes-card img {
  width: 220px;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.shoes-card .card-title {
  font-family: "Lato", sans-serif;
}

.shoes-card .card-footer {
  border: none;
}

.shoes-card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background: pink;
}

.shoes-card .card-text {
  font-size: 14px;
}

.numb {
  font-family: 'Lato', sans-serif;
  color: orange;
}

.shoes-card.b:hover {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  background: lightskyblue;
}

#formal-shoes {
  background: #e2f7fc;
}

#find-perfect {
  background: #f0efeb;
}

#find-perfect .card.fd {
  border: none;
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#find-perfect .card.fd img {
  width: 90px;
  display: inherit;
  margin: auto;
}

#find-perfect .card.fd p {
  font-size: 14px;
}

#find-perfect .card.fd .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}

#find-perfect .card.fd:hover {
  -webkit-box-shadow: 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
          box-shadow: 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

#review-section {
  background: #ebddda;
}

#review-section .carousel.slide {
  background: white;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 50px;
}

#review-section .carousel.slide .carousel-control-next-icon, #review-section .carousel.slide .carousel-control-prev-icon {
  background-color: lightblue;
  border-radius: 20px;
}

#review-section .carousel.slide .carousel-item {
  text-align: center;
}

#review-section .carousel.slide .carousel-item .col.first {
  margin-bottom: 20px;
}

#review-section .carousel.slide .carousel-item .col.first img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#review-section .carousel.slide .carousel-item .col.second p {
  width: 70%;
  font-size: 14px;
  margin: auto;
}

#review-section .carousel.slide .carousel-indicators li {
  background-color: black;
}

#contact-us .from-col {
  margin: auto;
  margin: 30px auto 0 auto;
}

#contact-us .from-col h2 {
  text-align: center;
}

#contact-us .from-col P {
  text-align: center;
}

#contact-us .from-col input[type="text"].form-control {
  font-size: 20px;
  padding: 20px;
}

#contact-us .from-col input.btn {
  margin-top: 10px;
  width: 150px;
  -webkit-transition: all 1s !important;
  transition: all 1s !important;
}

#contact-us .from-col input.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#0354a5), to(#022d8a));
  background: linear-gradient(#0354a5, #022d8a);
  color: white;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#022d8a), to(#0354a5));
  background: linear-gradient(#022d8a, #0354a5);
  color: white;
  font-size: 18px;
  padding: 10px 25px;
}

@media screen and (max-width: 992px) {
  #header-banner .first-col {
    margin-bottom: 100px;
  }
  #find-perfect .card-body {
    margin: auto;
    width: 90%;
    text-align: center;
  }
  #find-perfect .second-col img {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */